Source: ponyprompt
Section: utils
Priority: optional
Maintainer: Reg Tiangha <reg@reginaldtiangha.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: https://github.com/rtiangha/PonyPrompt

Package: ponyprompt
Architecture: all
Depends: ponysay, fortune-mod, cowprompt-data, ${misc:Depends}
Description: Break through creative blocks with PonyPrompt.
 ponyprompt can display various creative prompts onto a terminal screen.
